<div class="col-xs-12 col-md-6">
  <div class="result-card">
    <div class="result-card-image">
      <% photo = event.photos? ? cl_image_path(event.photos, height: 300, width: 400, crop: :fill) : 'http://diocesisdecucuta.com/diocesis2/wp-content/uploads/2017/08/n2-3.png'%>
      <img class="card-img" src=('<%= photo %>') alt="">
    </div>
    <div class="result-card-details">
      <div class="result-card-details-left">
        <h4><%= event.city_airport.city_name %></h4>
        <p><%= event.title %></p>
      </div>
      <div class="result-card-details-right">
        <p>Flight + Hotel</p>
        <% hotel_price = @result_hash[event.city_airport.city_name][:hotel_api_info]['minRate'] %>
        <% flight_price_string = @result_hash[event.city_airport.city_name][:flight_api_info]['trips']['tripOption'][0]['pricing'][0]['saleTotal'] %>
        <% price_flight = flight_price_string.slice! "EUR" %>
        <h4>€ <%= price_flight.to_f + hotel_price.to_f %></h4>
      </div>
    </div>
    <div class="result-hover-card">
      <div class="result-hover-card-details">
        <div class="result-card-details-left">
          <h4><%= event.city_airport.city_name %></h4>
          <p><%= event.title %></p>
        </div>
        <div class="result-card-details-right">
          <p>Flight + Hotel</p>
          <h4>€150</h4>
        </div>
      </div>
      <div>
        <p class="result-hover-description">The biggest street festival in Barcelona is the Gracia festival every year in mid August called the Festa Major de Gracia and also often called the Fiesta de Gracia.  Around 17 streets are decorate by the residents. There are hundreds of activities most of which are for local residents, but tourists and visitors are welcome to the concerts and parades. <!-- The Festa de Gracia is about Catalan traditions like parades, giants, castle building and fireruns, but most of all it is a shining... --></p>
      </div>
      <div>
        <a href="events/<%= Event.first.id %>" class="btn btn-lg book-button">BOOK</a>
      </div>
    </div>
  </div>
</div>
