<div class="container" id="primary-content">
  <div class="search-header">
    <div class="result-header text-center">
      <%= link_to image_tag("logo-color.gif", height: 109, width: 150), root_path %>
      <h1 class="result-headline">Make Your Trip Special</h1>
    </div>
    <div class="result-line">
      <div class="result-text">
         <p>Showing <%= pluralize @events.count, "result" %> between <%= @s_details[:departure_date].strftime("%d %B") %> and <%= @s_details[:return_date].strftime("%d %B") %> </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="result-card-container">
      <% @events.each do |event| %>
        <% if @result_hash[event.city_airport.city_name][:flight_api_info].keys.any? {|k| k.include? "error"} || @result_hash[event.city_airport.city_name][:hotel_api_info].keys.any? {|k| k.include? "error"} %>
        <div class="col-xs-12 col-md-6">
    <%= scroll_reveal(animation: "enter bottom and ease-in-out 50px" ) do %>
            <div class="result-card">
              <div class="result-card-image">
                <%= cl_image_tag event.photos.first.path, class: "card-img" %>
              </div>
              <div class="result-card-details">
                <div class="result-card-details-left">
                  <h4><%= event.title %></h4>
                  <p><%= event.city_airport.city_name %></p>
                </div>
                <div class="result-card-details-right">
                  <p>Flight + Hotel</p>
                  <h4>Unavailable</h4>
                </div>
              </div>
              <div class="result-hover-card">
                <div class="result-hover-card-details">
                  <div class="result-card-details-left">
                    <h4><%= event.title %></h4>
                    <p><%= event.city_airport.city_name %></p>
                  </div>
                  <div class="result-card-details-right">
                    <p>Flight + Hotel</p>
                    <h4>Unavailable</h4>
                  </div>
                </div>
                <div>
                  <p class="result-hover-description"><%= truncate(event.description, :length => 360) %></p>
                </div>
                <div>
                  <%= link_to "Unavailable", event_path(event, @s_details.id), class: "btn btn-medium book-btn" %>
                </div>
              </div>
            </div>
            <%end  %>
          </div>
        <% else %>
          <div class="col-xs-12 col-md-6">
            <div class="result-card">
              <div class="result-card-image">
                <%= cl_image_tag event.photos.first.path, class: "card-img" %>
              </div>
              <div class="result-card-details">
                <div class="result-card-details-left">
                  <h4><%= event.title %></h4>
                  <p><%= event.city_airport.city_name %></p>
                </div>
                <div class="result-card-details-right">
                  <p>Flight + Hotel</p>
                  <% hotel_price =  @result_hash[event.city_airport.city_name][:hotel_api_info]['minRate'] %>
                  <% flight_price_string = @result_hash[event.city_airport.city_name][:flight_api_info]['trips']['tripOption'][0]['pricing'][0]['saleTotal'] %>
                  <% price_flight = flight_price_string.slice! "EUR" %>
                  <h4>€ <%= '%.2f' % (flight_price_string.to_f + hotel_price.to_f) %></h4>
                </div>
              </div>
              <div class="result-hover-card">
                <div class="result-hover-card-details">
                  <div class="result-card-details-left">
                    <h4><%= event.title %></h4>
                    <p><%= event.city_airport.city_name %></p>
                  </div>
                  <div class="result-card-details-right">
                    <p>Flight + Hotel</p>
                    <h4>€ <%= '%.2f' % (flight_price_string.to_f + hotel_price.to_f) %></h4>
                  </div>
                </div>
                <div>
                  <p class="result-hover-description"><%= truncate(event.description, :length => 360) %></p>
                </div>
                <div>
                  <%= link_to "BOOK TRIP", event_path(event, @s_details.id), class: "btn btn-medium book-btn" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

        <div class="col-xs-12 col-md-6">
          <%= scroll_reveal(animation: "enter bottom and ease-in-out 50px" ) do %>
          <div class="no-result-card">
            <div class="no-result-card-text">
              <h3 class="h3-text">Not what you're looking for?</h3>
              <%= link_to "NEW SEARCH", root_path, class: "btn btn-lg no-search-button" %>
            </div>
          </div>
          <% end %>
        </div>
    </div>
  </div>
</div>

