<div class="container">
  <div class="search-header">
    <div class="result-header text-center">
      <%= link_to image_tag("logo-color.gif", height: 109, width: 150), root_path %>
      <h1 class="result-headline">Make Your Trip Special</h1>
    </div>
      <div class="result-line">
        <div class="result-text">
          <p><%= @events.count %> Results: From Amsterdam on 30 September to 15 October</p>
        </div>
        <div class="result-button">
          <%= link_to "New Search", root_path, class: "btn btn-sm new-search-button" %>
          <!-- <a href="" class="btn btn-sm new-search-button"> New Search</a> -->
        </div>
      </div>
  </div>

  <div class="row">
    <div class="result-card-container">
      <div class="col-xs-12 col-md-6">
        <div class="result-card">
          <div class="result-card-image">
            <img class="card-img" src="http://diocesisdecucuta.com/diocesis2/wp-content/uploads/2017/08/n2-3.png" alt="">
          </div>
          <div class="result-card-details">
            <div class="result-card-details-left">
              <h4>BARCELONA</h4>
              <p>Fiesta de Gracia</p>
            </div>
            <div class="result-card-details-right">
              <p>Flight + Hotel</p>
              <h4>€150</h4>
            </div>
          </div>
          <div class="result-hover-card">
            <div class="result-hover-card-details">
              <div class="result-card-details-left">
                <h4>BARCELONA</h4>
                <p>Fiesta de Gracia</p>
              </div>
              <div class="result-card-details-right">
                <p>Flight + Hotel</p>
                <h4>€150</h4>
              </div>
            </div>
            <div>
              <p class="result-hover-description">The biggest street festival in Barcelona is the Gracia festival every year in mid August called the Festa Major de Gracia and also often called the Fiesta de Gracia.  Around 17 streets are decorate by the residents. There are hundreds of activities most of which are for local residents, but tourists and visitors are welcome to the concerts and parades. <!-- The Festa de Gracia is about Catalan traditions like parades, giants, castle building and fireruns, but most of all it is a shining... --></p>
            </div>
            <div>
              <a href="events/<%= Event.first.id %>" class="btn btn-lg book-button">BOOK</a>
            </div>
          </div>
        </div>
      </div>


      <div class="col-xs-12 col-md-6">
       <div class="result-card">
        <div class="result-card-image">
          <img class="card-img" src="http://www.eurocheapo.com/blog/wp-content/uploads/2014/08/Oktoberfest.jpg" alt="">
        </div>
        <div class="result-card-details">
          <div class="result-card-details-left">
            <h4>MUNICH</h4>
            <p>Oktoberfest</p>
          </div>
          <div class="result-card-details-right">
            <p>Flight + Hotel</p>
            <h4>€375</h4>
          </div>
        </div>
        <div class="result-hover-card">
            <div class="result-hover-card-details">
              <div class="result-card-details-left">
                <h4>Munich</h4>
                <p>Oktoberfest</p>
              </div>
              <div class="result-card-details-right">
                <p>Flight + Hotel</p>
                <h4>$375</h4>
              </div>
            </div>
            <div>
              <p class="result-hover-description">The world's largest Volksfest. Held annually in Munich, Bavaria, Germany, it is a 16- to 18-day folk festival running from mid or late September to the first weekend in October, with more than 6 million people from around the world attending the event every year. The Oktoberfest is an important part of Bavarian culture, having been held since the year 1810. </p>
            </div>
            <div>
              <a href="events/<%= Event.second.id %>" class="btn btn-lg book-button">BOOK</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
       <div class="result-card">
        <div class="result-card-image">
          <img class="card-img" src="http://www.eurocheapo.com/blog/wp-content/uploads/2014/08/Oktoberfest.jpg" alt="">
        </div>
        <div class="result-card-details">
          <div class="result-card-details-left">
            <h4>MUNICH</h4>
            <p>Oktoberfest</p>
          </div>
          <div class="result-card-details-right">
            <p>Flight + Hotel</p>
            <h4>€375</h4>
          </div>
        </div>
        <div class="result-hover-card">
            <div class="result-hover-card-details">
              <div class="result-card-details-left">
                <h4>Munich</h4>
                <p>Oktoberfest</p>
              </div>
              <div class="result-card-details-right">
                <p>Flight + Hotel</p>
                <h4>$375</h4>
              </div>
            </div>
            <div>
              <p class="result-hover-description">The world's largest Volksfest. Held annually in Munich, Bavaria, Germany, it is a 16- to 18-day folk festival running from mid or late September to the first weekend in October, with more than 6 million people from around the world attending the event every year. The Oktoberfest is an important part of Bavarian culture, having been held since the year 1810. </p>
            </div>
            <div>
              <a href="events/<%= Event.second.id %>" class="btn btn-lg book-button">BOOK</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
       <div class="no-result-card">
        <div class="no-result-card-text">
          <h3>Not what your looking for?</h3>
          <a href="#" class="btn btn-lg no-search-button"> New Search</a>
        </div>
        </div>
      </div>
    </div>

      <% @events.each do |event| %>
        <div class="col-xs-12 col-md-6">
          <div class="result-card">
            <div class="result-card-image">
              <img class="card-img" src="http://yourworldcalendar.com/wp-content/uploads/2015/09/human-building.jpg" alt="">
            </div>
            <div class="result-card-details">
              <div class="result-card-details-left">
                <h4><%= event.city_airport.city_name %></h4>
                <p><%= event.title %></p>
              </div>
              <div class="result-card-details-right">
                <p>Flight + Hotel</p>
                <% hotel_price =  @result_hash[event.city_airport.city_name][:hotel_api_info]['minRate'] %>
                <% flight_price_string = @result_hash[event.city_airport.city_name][:flight_api_info]['trips']['tripOption'][0]['pricing'][0]['saleTotal'] %>
                <% price_flight = flight_price_string.slice! "EUR" %>
                <h4>€ <%= price_flight.to_f + hotel_price.to_f %></h4>
              </div>
            </div>
            <div class="result-hover-card">
              <div class="result-hover-card-details">
                <div class="result-card-details-left">
                  <h4><%= event.city_airport.city_name %></h4>
                  <p><%= event.title %></p>
                </div>
                <div class="result-card-details-right">
                  <p>Flight + Hotel</p>
                  <h4>€ <%= price_flight.to_f + hotel_price.to_f %></h4>
                </div>
              </div>
              <div>
                <p class="result-hover-description"><%= truncate(event.description, :length => 360) %></p>
              </div>
              <div>
                <%= link_to "BOOK", event_path(event, @s_details.id), class: "btn btn-lg book-button" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <div class="col-xs-12 col-md-6">
        <div class="result-card">
          <div class="result-card-image">
            <img class="card-img" src="http://diocesisdecucuta.com/diocesis2/wp-content/uploads/2017/08/n2-3.png" alt="">
          </div>
          <div class="result-card-details">
            <div class="result-card-details-left">
              <h4>BARCELONA</h4>
              <p>Fiesta de Gracia</p>
            </div>
            <div class="result-card-details-right">
              <p>Flight + Hotel</p>
              <h4>€150</h4>
            </div>
          </div>
          <div class="result-hover-card">
            <div class="result-hover-card-details">
              <div class="result-card-details-left">
                <h4>BARCELONA</h4>
                <p>Fiesta de Gracia</p>
              </div>
              <div class="result-card-details-right">
                <p>Flight + Hotel</p>
                <h4>€150</h4>
              </div>
            </div>
            <div>
              <p class="result-hover-description">The biggest street festival in Barcelona is the Gracia festival every year in mid August called the Festa Major de Gracia and also often called the Fiesta de Gracia.  Around 17 streets are decorate by the residents. There are hundreds of activities most of which are for local residents, but tourists and visitors are welcome to the concerts and parades. <!-- The Festa de Gracia is about Catalan traditions like parades, giants, castle building and fireruns, but most of all it is a shining... --></p>
            </div>
            <div>
              <a href="events/<%= Event.first.id %>" class="btn btn-lg book-button">BOOK</a>
            </div>
          </div>
        </div>
      </div>

    </div> <!-- row -->
  </div> <!-- result-card-container -->
</div> <!-- container -->
