
<% @events.each do |event| %>
  <div>
    <h2><%= event.title %></h2>
    <h3><%= event.city_airport.city_name %></h3>
    <p>Flight: <%= @result_hash[event.city_airport.city_name][:flight_api_info] %></p>
    <p>Hotel: <%= @result_hash[event.city_airport.city_name][:hotel_api_info] %></p>
    <hr>
  </div>
<% end %>

<!-- right code underneath -->

<% @events.each do |event| %>
  <div>
    <h2><%= event.title %></h2>
    <h3><%= event.city_airport.city_name %></h3>
    <h4>Carrier: <%= @result_hash[event.city_airport.city_name][:flight_api_info]['trips']['data']['carrier'][0]['name'] %></h4>
    <h5>Flight_cost: <%= @result_hash[event.city_airport.city_name][:flight_api_info]['trips']['tripOption'][0]['pricing'][0]['saleTotal'] %></h5>
    <h4>Hotel: <%= @result_hash[event.city_airport.city_name][:hotel_api_info]['name'] %></h4>
    <h5>Price for stay: € <%= @result_hash[event.city_airport.city_name][:hotel_api_info]['minRate'] %></h5>
    <hr>
  </div>
<% end %>
