<div class="white-container">
  <div class="new-card">
    <div class="row">
      <div class="col-xs-12 col-md-8">
       <p class="new-event-header">Submit an event</p>

        <%= simple_form_for(@event) do |f| %>
          <% if @event.errors.any? %>
            <div id="error_explanation">
              <ul>
              <% @event.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>


        <div class="form-inputs">
          <%= f.input :title, label: "Name of event", label_html: { class: 'my_label_class' },  input_html: {class: "form-input-lg"} %>
          <%= f.input :description, label: "Description", label_html: { class: 'my_label_class' },  input_html: {class: "form-input-lg"} %>
          <%= f.input :address, label: "Address, postcode and city", label_html: { class: 'my_label_class' }, input_html: {class: "form-input-lg"} %>

          <%= f.input :start_d, label: 'Start date',label_html: { class: 'my_label_class' }, input_html: {class: 'form-input-lg datetimepicker',id: :datetimepicker3,  value: Date.tomorrow.strftime('%Y/%m/%d')} %>
          <%= f.input :end_d, label: 'End date', label_html: { class: 'my_label_class' },  input_html: {class: 'form-input-lg datetimepicker',id: :datetimepicker4, value: Date.tomorrow.strftime('%Y/%m/%d')} %>



          <%= f.input :start_time, as: :string, label: 'Start time', label_html: { class: 'my_label_class' }, input_html: {class: "timepicker"} %>
          <%= f.input :end_time, as: :string, label: 'End time', label_html: { class: 'my_label_class' }, input_html: {class: "timepicker"} %>



          <%= f.input :number_of_attendees, label: '# of attendees', label_html: { class: 'my_label_class' }, input_html: {class: "form-input-lg"} %>
          <%= f.input :entrance_fee, label: 'Entry fee', label_html: { class: 'my_label_class' }, input_html: {class: "form-input-lg"} %>

          <%= f.input :city_airport_id, collection: CityAirport.all.order(:city_name), value_method: :id, label_method: :city_name, label: "Select nearest airport", label_html: { class: 'my_label_class' }, input_html: {class: "form-input-lg"} %>


          <%= f.input :website, label: 'Event url', label_html: { class: 'my_label_class' }, input_html: {class: "form-input-lg"} %>

          <%= f.input :photos, as: :attachinary, label: "Upload photos", label_html: { class: 'my_label_class' }  %>

        </div>

        <div class="form-actions">
          <%= f.button :submit, class: "btn btn-custom btn-fullwidth"  %>
        </div>
      <% end %>
     </div>
    </div>
  </div>
</div>
